DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/fin_workspace?schema=public"
APP_TIME_ZONE="Asia/Ho_Chi_Minh"
NEXTAUTH_SECRET="replace-with-a-random-32-byte-secret"
NEXTAUTH_URL="http://localhost:3000"
